$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  p + h4 {
    margin-top: 28px;
  }
}

.cart-qty {
  width: 40px;
}

.cart-qty:hover {
    text-decoration: none;
    border: 1px solid #2271b2;
}

.lower-div {
  width: 100%;
  padding: 4px;
  background: white;
}

.item-details {
  list-style: none;
  font-weight: bold;
}

// .item-image.displayed {
//   height: 150px;
// }

#billingInfo .modal {
  top: 20%
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.item-details {
  display: inline-block;
  width: 100%;
  .promo-width {
    width: 120px
  }
  .item-details-label {
    float: left;
    font-weight: bold;
  }
  .item-details-value {
    float: right;
    font-weight: bold;
  }
}

.go-to-main {
  position: relative;
  top: -34px;
  right: -253px;
}

.checkout .checkout-button {
  float: right;
  margin-right: 14px;
  width: 144px;
}

.ordering-details-section {
  margin-top: 20px;
}

.order-total {
  float: right;
  font-weight: bold;
  margin-right: 17px;
}

.item-title {
  text-align: center;
}

h3.accordion{
    margin: 0;
}
.accordion a{
    padding: 10px;
    background: #ddd;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-bottom: 1px;
}
.accordion-content{
    border: 1px solid #ddd;
    padding: 10px;
    margin: 1px 0;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
