<div class="row">
	<div class="col-sm-12 " ng-if="profileForm">
		<form name="userForm" ng-submit="submitForm(userForm.$valid)">
      <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" class="form-control" ng-model="profileDetails.name" required>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" class="form-control" ng-model="profileDetails.email" required>
      </div>
      <div class="form-group">
        <label>Phone</label>
        <input type="number" name="phone" class="form-control" ng-model="profileDetails.phone" required>
      </div>
      <div class="form-group">
        <label>Zipcode</label>
        <input type="number" name="zip" class="form-control" ng-model="profileDetails.zipcode" required>
      </div>
      <div class="form-group">
        <label>House No</label>
        <input type="text" name="house" class="form-control" ng-model="profileDetails.houseno" required>
      </div>
      <div class="form-group">
        <label>Address</label>
        <input type="text" name="address" class="form-control" ng-model="profileDetails.address" required>
      </div>
      <div class="form-group">
        <label>Landmark</label>
        <input type="text" name="landmark" class="form-control" ng-model="profileDetails.landmark">
      </div>
      <button type="submit" class="btn btn-primary">Continue to payment</button>
    </form>
    <button class="btn btn-primary go-to-main" ng-click="goBack()" >GO BACK</button>
	</div>

	<div class="col-sm-12 " ng-if="paymentForm">
		<div ng-init="accordion=1">
	<h5 class="accordion" ng-class="{active:accordion==1}">
		<a href ng-click="accordion = 1">Debit Card</a>
	</h5>
	<div class="accordion-content" ng-show="accordion==1">
		<form class="form-horizontal" role="form">
	    <fieldset>
	      <legend>Payment</legend>
	      <div class="form-group">
	        <label class="col-sm-3 control-label" for="card-holder-name">Name on Card</label>
	        <div class="col-sm-9">
	          <input type="text" class="form-control" name="card-holder-name" id="card-holder-name" placeholder="Card Holder's Name">
	        </div>
	      </div>
	      <div class="form-group">
	        <label class="col-sm-3 control-label" for="card-number">Card Number</label>
	        <div class="col-sm-9">
	          <input type="text" class="form-control" name="card-number" id="card-number" placeholder="Debit/Credit Card Number">
	        </div>
	      </div>
	      <div class="form-group">
	        <label class="col-sm-3 control-label" for="expiry-month">Expiration Date</label>
	        <div class="col-sm-9">
	          <div class="row">
	            <div class="col-xs-3">
	              <select class="form-control col-sm-2" name="expiry-month" id="expiry-month">
	                <option>Month</option>
	                <option value="01">Jan (01)</option>
	                <option value="02">Feb (02)</option>
	                <option value="03">Mar (03)</option>
	                <option value="04">Apr (04)</option>
	                <option value="05">May (05)</option>
	                <option value="06">June (06)</option>
	                <option value="07">July (07)</option>
	                <option value="08">Aug (08)</option>
	                <option value="09">Sep (09)</option>
	                <option value="10">Oct (10)</option>
	                <option value="11">Nov (11)</option>
	                <option value="12">Dec (12)</option>
	              </select>
	            </div>
	            <div class="col-xs-3">
	              <select class="form-control" name="expiry-year">
	                <option value="13">2013</option>
	                <option value="14">2014</option>
	                <option value="15">2015</option>
	                <option value="16">2016</option>
	                <option value="17">2017</option>
	                <option value="18">2018</option>
	                <option value="19">2019</option>
	                <option value="20">2020</option>
	                <option value="21">2021</option>
	                <option value="22">2022</option>
	                <option value="23">2023</option>
	              </select>
	            </div>
	          </div>
	        </div>
	      </div>
	      <div class="form-group">
	        <label class="col-sm-3 control-label" for="cvv">Card CVV</label>
	        <div class="col-sm-3">
	          <input type="text" class="form-control" name="cvv" id="cvv" placeholder="Security Code">
	        </div>
	      </div>
	      <div class="form-group">
	        <div class="col-sm-offset-3 col-sm-9">
	          <button type="button" class="btn btn-success">Pay Now</button>
	        </div>
	      </div>
	    </fieldset>
	  </form>
	</div>

	<h5 class="accordion" ng-class="{active:accordion==2}">
		<a href ng-click="accordion = 2">Credit Card</a>
	</h5>
	<div class="accordion-content" ng-show="accordion==2">
		<form class="form-horizontal" role="form">
	    <fieldset>
	      <legend>Payment</legend>
	      <div class="form-group">
	        <label class="col-sm-3 control-label" for="card-holder-name">Name on Card</label>
	        <div class="col-sm-9">
	          <input type="text" class="form-control" name="card-holder-name" id="card-holder-name" placeholder="Card Holder's Name">
	        </div>
	      </div>
	      <div class="form-group">
	        <label class="col-sm-3 control-label" for="card-number">Card Number</label>
	        <div class="col-sm-9">
	          <input type="text" class="form-control" name="card-number" id="card-number" placeholder="Debit/Credit Card Number">
	        </div>
	      </div>
	      <div class="form-group">
	        <label class="col-sm-3 control-label" for="expiry-month">Expiration Date</label>
	        <div class="col-sm-9">
	          <div class="row">
	            <div class="col-xs-3">
	              <select class="form-control col-sm-2" name="expiry-month" id="expiry-month">
	                <option>Month</option>
	                <option value="01">Jan (01)</option>
	                <option value="02">Feb (02)</option>
	                <option value="03">Mar (03)</option>
	                <option value="04">Apr (04)</option>
	                <option value="05">May (05)</option>
	                <option value="06">June (06)</option>
	                <option value="07">July (07)</option>
	                <option value="08">Aug (08)</option>
	                <option value="09">Sep (09)</option>
	                <option value="10">Oct (10)</option>
	                <option value="11">Nov (11)</option>
	                <option value="12">Dec (12)</option>
	              </select>
	            </div>
	            <div class="col-xs-3">
	              <select class="form-control" name="expiry-year">
	                <option value="13">2013</option>
	                <option value="14">2014</option>
	                <option value="15">2015</option>
	                <option value="16">2016</option>
	                <option value="17">2017</option>
	                <option value="18">2018</option>
	                <option value="19">2019</option>
	                <option value="20">2020</option>
	                <option value="21">2021</option>
	                <option value="22">2022</option>
	                <option value="23">2023</option>
	              </select>
	            </div>
	          </div>
	        </div>
	      </div>
	      <div class="form-group">
	        <label class="col-sm-3 control-label" for="cvv">Card CVV</label>
	        <div class="col-sm-3">
	          <input type="text" class="form-control" name="cvv" id="cvv" placeholder="Security Code">
	        </div>
	      </div>
	      <div class="form-group">
	        <div class="col-sm-offset-3 col-sm-9">
	          <button type="button" class="btn btn-success">Pay Now</button>
	        </div>
	      </div>
	    </fieldset>
	  </form>
	</div>

	<h5 class="accordion" ng-class="{active:accordion==3}">
		<a href ng-click="accordion = 3">Net banking</a>
	</h5>
	<p class="accordion-content" ng-show="accordion==3">
		There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form
	</p>

	<h5 class="accordion" ng-class="{active:accordion==4}">
		<a href ng-click="accordion = 4">Pay Pal</a>
	</h5>
	<p class="accordion-content" ng-show="accordion==4">
		There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form
	</p>

	<h5 class="accordion" ng-class="{active:accordion==5}">
		<a href ng-click="accordion = 5">Cash on deliver</a>
	</h5>
	<div class="accordion-content" ng-show="accordion==5">
		<form>
			<table cellspacing="0" border="0" cellpadding="8"
			style="background-color:#ffcc66;">
				<tr>
					<td colspan="2" style="padding-bottom:1px;">
						<a href="http://www.snaphost.com/captcha" alt="form in email" title="form in email" >form in email</a>
					</td>
				</tr>
				<tr valign="bottom">
					<td>
						<a href="#" onclick="return ReloadCaptchaImage('CaptchaImage');"><span style="font-size:12px;">reload image</span></a><br />
						<a href="http://www.snaphost.com/captcha"><img id="CaptchaImage" alt="code captcha" style="border-width:0px;" title="code captcha" src="http://www.SnapHost.com/captcha/CaptchaImage.aspx?id=78B9CT5HMJT4" /></a>
					</td>
					<td>  <br /><i>Enter Captcha code</i><br />
						<input id="skip_CaptchaCode" name="skip_CaptchaCode" type="text" style="width:130px; height:48px; font-size:38px;" maxlength="6" /><br />
					</td>
				</tr>
			</table>
			<script type="text/javascript">
			function ReloadCaptchaImage(captchaImageId) {
				var obj = document.getElementById(captchaImageId);
				var src = obj.src;
				var date = new Date();
				var pos = src.indexOf('&rad=');
				if (pos >= 0) { src = src.substr(0, pos); }
				obj.src = src + '&rad=' + date.getTime();
				return false; }
			</script>
		</form>
	</div>

</div>
    <button class="btn btn-primary" ng-click="goBackProfilePage()" >GO BACK</button>
	</div>
</div>